config SHIELD_O67_DONGLE
    def_bool $(shields_list_contains,o67_dongle)

config SHIELD_O67_USB_DONGLE
    def_bool $(shields_list_contains,o67_usb_dongle)

config SHIELD_O67_LEFT_CENTRAL
    def_bool $(shields_list_contains,o67_left_central)

config SHIELD_O67_LEFT
    def_bool $(shields_list_contains,o67_left)

config SHIELD_O67_RIGHT
    def_bool $(shields_list_contains,o67_right)
