if SHIELD_O67_DONGLE

config ZMK_KEYBOARD_NAME
    default "o67"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_O67_DONGLE

if SHIELD_O67_DONGLE || SHIELD_O67_LEFT || SHIELD_O67_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_O67_DONGLE || SHIELD_O67_LEFT || SHIELD_O67_RIGHT



CONFIG_ZMK_RGB_UNDERGLOW=y
CONFIG_ZMK_RGB_UNDERGLOW_AUTO_OFF_IDLE=y
CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=n

CONFIG_ZMK_RGB_UNDERGLOW_HUE_START=0
CONFIG_ZMK_RGB_UNDERGLOW_SAT_START=100
CONFIG_ZMK_RGB_UNDERGLOW_BRT_START=50

