if SHIELD_O67_DONGLE || SHIELD_O67_USB_DONGLE || SHIELD_O67_LEFT_CENTRAL

config ZMK_KEYBOARD_NAME
    default "o67"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_O67_DONGLE

if SHIELD_O67_DONGLE || SHIELD_O67_USB_DONGLE || SHIELD_O67_LEFT_CENTRAL || SHIELD_O67_LEFT || SHIELD_O67_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_O67_DONGLE || SHIELD_O67_USB_DONGLE || SHIELD_O67_LEFT_CENTRAL || SHIELD_O67_LEFT || SHIELD_O67_RIGHT


